{% include 'components/header.html' %}
<main>
    <div class="section1">
      <img src="static/assets/bg-1.webp"/>
    </div>
    <div class="buycarsection1">
        <input type="text" placeholder="Search Used Cars">
        <button>Search Cars</button>
      </div>
      <div class="buycarsection2">
         <h2>Used Cars</h2>
         <div class="CarSection">
            <img src="static/assets/car1.webp"/>
            <h3>Maruti Baleno (1999-2022) DELTA 1.2 K12</h3>
          </div>
      </div>
</main>
{% include 'components/footer.html' %}