{% include 'components/header.html' %}
<main>
    <div class="section1">
      <img src="static/assets/bg-1.webp"/>
    </div>
    <div class="buycarsection1">
        <input type="text" placeholder="Search Used Cars">
        <button>Search Cars</button>
      </div>
      <h2 style="margin-left: 60px;margin-top: 30px;">The best way to buy used cars</h2>
      <div class="buycarsection2">
        <h3>We are an experienced player in the used car trading domain, operationg for over a decade now. We are enabling car owners to easily sell their cars through our secure and hassle-free process.</h3>
        </div>
      <h2 style="margin-left: 60px;margin-top: 30px;">Used Cars</h2>
      <div class="buycarsection3">
        
         <div class="CarSection">
            <img src="static/assets/car1.webp"/>
            <h3>Maruti Baleno (1999-2022) DELTA 1.2 K12</h3>
          </div>
          <div class="CarSection">
            <img src="static/assets/car2.webp"/>
            <h3>Honda CITY (1997-2022) SV MT DIESEL</h3>
          </div>
          <div class="CarSection">
            <img src="static/assets/car3.webp"/>
            <h3>Mercedes-Benz GLA CLASS (2000-2018) 200</h3>
          </div>
      </div>
</main>
{% include 'components/footer.html' %}