<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR 360</title>
    <link href="static/css/index.css" rel="stylesheet"/>
</head>

<body>
    {% include 'components/header.html' %}
    <main>
      <div class="section1">
        <img src="static/assets/bg-1.webp"/>
      </div>
      <div class="section2">
        <h4>sell easy</h4>
      </div>
      <div class="section3">
        <h4>Sell is Easy</h4>
        <div class="subsection3">
          <div class="subsectionbox1">
              <img src="static/assets/icon1.webp"/>
          </div>
          <div class="subsectionbox2">
            <img src="static/assets/icon2.webp"/>
          </div>
          <div class="subsectionbox3">
            <img src="static/assets/icon3.webp"/>

          </div>
        </div>
      </div>
    </main>
    {% include 'components/footer.html' %}
</body>
</html>