{% include 'components/header.html' %}
<main>
  <div class="section1">
    <img src="static/assets/bg-1.webp"/>
  </div>
  <div class="loginsection">
    <h1>Login to Purchase or Sell a Car</h1>
    <form action="/login" method="POST">
        <input type="Email" name="email" placeholder="Email">
        <input type="Password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        <label>Don't Have account? <a href="/register">Register</a></label>
        <label>{{message}}</label>
    </form>
  </div>
  </main>
  {% include 'components/footer.html' %}