{% include 'components/header.html' %}
<main>
  <div class="section1">
    <img src="static/assets/bg-1.webp"/>
  </div>
  <div class="loginsection">
    <h1>Login to Purchase or Sell a Car</h1>
    <form action="/login" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="Password" name="password" placeholder="Password">
        <input type="text" name="mobile" placeholder="Mobile Number">
        <button>Register</button>
        <label>Have account? <a href="/login">Login</a></label>
        <label>error</label>
    </form>
  </div>
  </main>
  {% include 'components/footer.html' %}