    {% include 'components/header.html' %}
    <main>
      <div class="section1">
        <img src="static/assets/bg-1.webp"/>
      </div>
      <div class="sectionsellcar1">
         <form action="/sell" method="POST">
           <div class="inputsection">
              <input type="text" placeholder="Select Mode">
           </div>
           <div class="inputsection">
            <input type="text" placeholder="Select Mode">
         </div>
         <div class="inputsection">
            <input type="text" placeholder="Select Mode">
         </div>
         <div class="inputsection">
            <input type="text" placeholder="Select Mode">
         </div>
         </form>
      </div>
    </main>
    {% include 'components/footer.html' %}