<footer>
    <div class="overlay"></div>
    <nav>
    <section><h3>-Top Brands</h3></section>
    <section><h3>-Top Cities</h3></section>
        <section><h3>-Top Searches</h3></section>
    </nav>
    <nav>
        <section><h3>-Sellers</h3>
        </section>
        <section><h3>-Buyers</h3></section>
        <section><h3>-Top Searches</h3></section>
    </nav>
    <nav>
        <section><h3>-Dealers</h3></section>
        <section><h3>-Address Information</h3></section>
    </nav>
</footer>
<script src="static/js/index.js"></script>
</body>
</html>